   /* responsive media queries */

   @media(max-width: 1090px){
    .menu li{
     padding: 2rem 1rem;
   }
   .content h2{
       font-size: 2.2rem;
   }
}

@media(max-width: 979px){
    .menu li{
         padding: 2rem 1rem;
     }
    .content h2{
        font-size: 2.2rem;
     } 
    article h2{
        font-size: 3.5rem;
    }
    .box h2{
     font-size: 3rem;
   }
   .gallery h2{
       line-height: 1.2;
   }
   .solutions{
     padding: 3rem 0 5.2rem 0;
   }
   .solution-box{
       margin-top: 5rem;
   }
   .solution-box p{
     margin: 2.4rem 0;
   } 
  .menu-icon{
     display: block;
   }
   .menu{
      display:none;
  }
  header{
      overflow-x: hidden;
  }
  .menu{
      position: absolute;
      top: 18%;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #000;
      width: 40%;
      height: 80%;
      z-index: 1;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      -o-transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
      text-align: center;
      }
  .active{
      -webkit-transform: translateX(0%);
          -ms-transform: translateX(0%);
              transform: translateX(0%);
    }
    @-webkit-keyframes navLinkStyle {
        0%{
            opacity: 0;
            -webkit-transform: translate(50px);
                    transform: translate(50px);
        }
        100%{
             opacity: 1;
            -webkit-transform: translate(0);
                    transform: translate(0);
        }
    }
    @keyframes navLinkStyle {
        0%{
            opacity: 0;
            -webkit-transform: translate(50px);
                    transform: translate(50px);
        }
        100%{
             opacity: 1;
            -webkit-transform: translate(0);
                    transform: translate(0);
        }
    }
    .togglecross .line1{
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            -ms-transform: rotate(-45deg) translate(-5px, 6px);
                transform: rotate(-45deg) translate(-5px, 6px);
    }
    .togglecross .line2{
        opacity: 0;
    }
    .togglecross .line3{
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
            -ms-transform: rotate(45deg) translate(-5px, -6px);
                transform: rotate(45deg) translate(-5px, -6px);
    }

 }
    /* tablet and mobile */
    @media(max-width: 768px){
    .container{
        width: 100%;
    }
    .logo img{
        width: 10rem;
    }
    .content h2{
        font-size: 1.6rem;
    }
    main {
        padding: 2rem 0;
    }
    article h2{
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    .gallery{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .solutions h2{
        font-size: 3rem;
        word-wrap: break-word;
    }
    .solution-box{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 4rem;
    }
    .solution-box div{
        margin-bottom: 2rem;
    }
    .solution-box h2{
        font-size: 2rem;
        margin-top: 2rem;
        word-wrap: break-word;
    }
    .footer{
        display: block;
    }
    .footerlogo{
        display: block;
        width: 10rem;
        margin: auto;
    }
    .footer-links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        margin-top: 1.5rem;
    }
    .footer-links li + li{
        margin-right: 0.2rem;
    }
    
}